@charset "utf-8";

div#container{
    background: linear-gradient(to top, greenyellow 74%, green 100%) top left repeat-x;
}

/* Header stuff */
#header {
    background-image: url('/images/LilyBukkit.png');
    background-position: 1ch 1ch;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 7ch;
    padding-bottom: 2ch;
    position: relative;
}

#header h1{
    background: transparent;
    float: left;
    font-size: large;
    margin-left: 5ch;
    padding: 0;
}

#header h1 a{
    background: transparent;
    color: whitesmoke;
    display: block;
    float: left;
    font-family: 'MinecraftiaRegular';
    font-style: normal;
    font-size: 160%;
    letter-spacing: .9px;
    margin-left: 1ch;
    text-decoration: none;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
}

/* Main page contents */
#content {
    background-color: whitesmoke;
    height: inherit;
    margin-top: 5ch;
    padding-left: 2ch;
    padding-right: 2ch;
    position: relative;
}

/* Menu */
div#top-menu {
    background-color: rgb(0,80,0);
    height: 3ch;
    margin-top: 2ch;
    position: absolute;
    width: 100%;
}

#top-menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#top-menu ul li {
    border-left: 1px white solid;
    float: left;
    width: auto;
}

#top-menu ul li a {
    color: whitesmoke;
    display: inline-block;
    padding: 5% 1ch;
    text-align: center;
    text-decoration: none;
}