@charset "utf-8";

body {
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MinecraftiaRegular';
    font-style: normal;
}

div#container{
    background-image: url('/images/dirt.png');
    background-repeat: repeat;
}

/* Header stuff */
#header {
    background-image: url('/images/LilyBukkit.png');
    background-position: 1ch 1ch;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 7ch;
    padding-bottom: 2ch;
    position: relative;
    width: 100%;
}

#header h1{
    background: transparent;
    float: left;
    font-size: large;
    margin-left: 5ch;
    padding: 0;
}

#header>h1>a{
    background: transparent;
    color: whitesmoke;
    display: block;
    float: left;
    font-size: 160%;
    letter-spacing: .9px;
    margin-left: 1ch;
    text-decoration: none;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
}

/* Page contents */
main {
    background-color: whitesmoke;
    height: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2em;
    position: relative;
}

main>section {
    padding-left: 1em;
    padding-right: 1em;
}

main code,
main pre {
    background-color: rgb(233, 233, 233);
    font-size: medium;
}

/* Menu */
nav#topbar {
    background: linear-gradient(to top,rgb(92, 69, 7) 0%,rgb(58, 39, 4) 100%);
    color: whitesmoke;
    height: 4%;
    margin-top: 0;
    position: absolute;
    width: 99%;
}

nav#topbar>a {
    border-left: 1px solid white;
    color: whitesmoke;
    display: inline-block;
    font-family: 'MinecraftiaRegular';
    font-style: normal;
    font-size: small;
    height: 100%;
    padding: 0.5ch 1ch 0 1ch;
    text-align: center;
    text-decoration: none;
}

nav#topbar>a:hover {
    background: linear-gradient(to top,rgb(92, 60, 0) 0%,rgb(58, 35, 0) 100%);
    height: 100%;
}

/* Plugins page */
#list-note {
    background-color: lightgrey;
    border: thick solid grey;
    padding: 1em;
}

.plugin-box {
    background-color: rgb(233, 233, 233);
    border: thick double green;
    margin-top: 1em;
    padding: 0 1em 1em 1em;
}

.plugin-box>div {
    font-size: medium;
}

.plugin-box a {
    color: rgb(179, 107, 0);
}

/* Docs page */
nav#sidebar {
    background-color: rgb(233, 233, 233);
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 18em;
}

nav#sidebar>details {
    margin-left: 1em;
    margin-right: 1em;
}

nav#sidebar details a {
    color: black;
    text-decoration: none;
}

nav#sidebar>details>summary:hover,
nav#sidebar>details>ol>li:hover,
nav#sidebar>details>ol>li a:hover {
    color: green;
    cursor: pointer;
}

article {
    background: transparent;
    display: block;
    margin-left: 1em;
    padding: 1em;
}

article h1 {
    font-family: 'Courier New', Courier, monospace;
}