@charset "utf-8";

body {
    background-color: whitesmoke;
}

div {
    margin: 0;
    padding: 0;
}

div#container{
    background-image: url('https://raw.githubusercontent.com/exalpha-dev/exalpha-dev.github.io/main/dirt.png');
    background-repeat: repeat;
}

/* Header stuff */
#header {
    background-image: url('/images/LilyBukkit.png');
    background-position: 1ch 1ch;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 7ch;
    padding-bottom: 2ch;
    position: relative;
    width: 100%;
}

#header h1{
    background: transparent;
    float: left;
    font-size: large;
    margin-left: 5ch;
    padding: 0;
}

#header h1 a{
    background: transparent;
    color: whitesmoke;
    display: block;
    float: left;
    font-family: 'MinecraftiaRegular';
    font-style: normal;
    font-size: 160%;
    letter-spacing: .9px;
    margin-left: 1ch;
    text-decoration: none;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
}

/* Main page contents */
main {
    background-color: whitesmoke;
    height: inherit;
    margin-top: 2em;
    padding-left: 2ch;
    padding-right: 2ch;
    position: relative;
}

/* Menu */
nav {
    background: linear-gradient(to top,rgb(92, 69, 7) 0%,rgb(58, 39, 4) 100%);
    color: whitesmoke;
    height: 4%;
    margin-top: 0;
    position: absolute;
    width: 99%;
}

nav a {
    border-left: 1px solid white;
    color: whitesmoke;
    display: inline-block;
    font-family: 'MinecraftiaRegular';
    font-style: normal;
    font-size: small;
    height: 100%;
    padding: 0.5ch 1ch 0 1ch;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background: linear-gradient(to top,rgb(92, 60, 0) 0%,rgb(58, 35, 0) 100%);
    height: 100%;
}

/* Plugins page */
#list-note {
    background-color: lightgrey;
    border: thick solid grey;
    padding: 1em;
}

.plugin-box {
    background-color: rgb(233, 233, 233);
    border: thick double green;
    margin-top: 1em;
    padding: 0 1em 1em 1em;
}

.plugin-box>div {
    font-size: medium;
}

.plugin-box>a {
    color: rgb(179, 107, 0);
}